.body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #C0C0C0;
}

/* Estilos principales para el layout */
.principal {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #C0C0C0;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo de la barra lateral de recomendaciones */
.recomendaciones {
    width: 20%;
    background-color: #4A291D;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo en la barra lateral */
.imagen {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.ff {
    width: 100px;
    margin-bottom: 20px;
}

/* Estilo de botones de recomendación */
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.boton:hover {
    background-color: #357ABD;
    transform: scale(1.05);
}

/* Estilo del contenedor de chat */
.chat {
    flex-grow: 1;
    background: linear-gradient(135deg, #f5f5f5, #e9e9e9);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    overflow-y: auto;
}

/* Estilo para el historial de mensajes */
.user-message, .bot-response {
    max-width: 70%;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 20px;
    word-wrap: break-word;
}

.user-message {
    background-color: #4A90E2;
    color: white;
    align-self: flex-end;
}

.bot-response {
    background-color: #f0f0f0;
    color: #333;
    align-self: flex-start;
}

/* Estilo del input y botón de envío */
.input {
    width: 85%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    box-sizing: border-box;
}

.enviar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #4A90E2;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.enviar:hover {
    background-color: #357ABD;
}

.mensaje{
    text-align: center;
}