:root {
  --primary-color: #2D4729;
  --secondary-color: #C0C0C0;
  --tertiary-color: #E5E5D8;
  --accent-color: #4D2600;
  --background-color: #2E3A52;
  --secondary-accent-color: #A3A3A3;
  --highlight-color: #B3B3B3;
  --muted-color: #D3D3D3;
}

body {
  background: var(--gradient-background); /* Use gradient background */
  background-attachment: fixed; /* Fix the background */
  background-size: cover; /* Cover the entire screen */
}

.hero-banner {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--secondary-color);
}

.blackbox {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.25rem;
}

.content {
  background-color: var(--secondary-color);
  color: var(--dark-text-color);
  padding: 40px;
  border-radius: 10px;
}

.content h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.content p {
  line-height: 1.6;
  color: #1a1a1a; /* Darker color */
}

.rounded-circle {
  border: 2px solid var(--accent-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-accent {
  color: var(--accent-color);
}

.text-white-bold {
  font-weight: bold;
  color: var(--secondary-color);
}

.text-muted {
  color: var(--muted-color) !important;
}

.text-bold {
  font-weight: bold;
}

.text-complementary {
  color: var(--complementary-color);
}
