:root {
  --primary-color: #ffffff;
  --secondary-color: #c0c0c0;
  --tertiary-color: #404d49;
  --accent-color: #485877;
  --background-color: #2e3a52;
  --secondary-accent-color: #a3a3a3;
  --highlight-color: #b3b3b3;
  --muted-color: #d3d3d3;
  --planes-background-color: #e5e5d8; /* Added background color for planes */
  --gradient-background: linear-gradient(135deg, #676e67, #666a70, #595664); /* Updated gradient background */
}

/* Globales */
html {
  box-sizing: border-box;
  font-size: 16px; /* Base font size */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: var(--background-color); /* Fondo sólido */
  width: 100%;
  color: var(--highlight-color); /* Color del texto */
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
  -moz-osx-font-smoothing: grayscale;
}

/* Enlaces */
a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--complementary-color);
  text-decoration: underline;
}

/* Botones */
button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: var(--secondary-accent-color);
  transform: scale(1.05);
}

button:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

/* Resets de contenedor */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Responsividad general */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  button {
    padding: 0.4rem 0.8rem;
  }
}

/* Chatbot Section */
.chatbot-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
}

.chatbot-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.chatbot-section .chatbot-info {
  color: var(--secondary-color);
  text-align: left;
}

.chatbot-section .chatbot-info h3 {
  color: var(--secondary-color);
}

.chatbot-section .chatbot-info p {
  margin-bottom: 20px;
}

.chatbot-section .chatbot-info button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
