body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.outlet-styles {
  flex: 1;
  padding-top: 100px; /* Ajusta el espacio para la navbar fija */
  display: flex;
  flex-direction: column;
}

.footer-container {
  margin-top: auto;
}
